<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container">
  <h2 class="mt-5">Soy Cliente</h2>

  <form th:action="@{/formularioIncidente}" th:object="${incidenteFormulario}" method="post">
    <label for="descripcionProblema">Descripción del Problema:</label>
    <textarea id="descripcionProblema" name="descripcionProblema" required th:field="*{descripcionProblema}"></textarea><br>

    <label for="tipoProblema">Tipo de Problema:</label>
    <input type="text" id="tipoProblema" name="tipoProblema" required th:field="*{tipoProblema}"><br>

    <button type="submit">Registrar Incidente</button>
  </form>


  <h3 class="mt-4">Lista de Incidentes</h3>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Descripción del Problema</th>
      <th>Tipo de Problema</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="incidente : ${incidentes}">
      <td th:text="${incidente.idIncidente}"></td>
      <td th:text="${incidente.descripcionProblema}"></td>
      <td th:text="${incidente.tipoProblema}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
